body {
	margin: 0;
	padding: 0;
  background-color: #063607;
}
section {
	height: 100vh;
	padding-top: 20px;
}
h1 {
	font-size: 4em;
  font-family: 'Merriweather Sans', sans-serif;
  color: #e2dee2;
}
p {
	font-size: 0.85em;
  font-family: 'Merriweather', serif;
  color: #e2dee2;
  width: 40%;
  text-align: center;
}
h2 {
   margin-left: 2%;
   font-size: 2.5em;
   color: #e2dee2;
}


