body {
	margin: 0;
	padding: 0;
  background-color: #063607;
}
section {
	height: 100vh;
	padding-top: 20px;
}
h1 {
	font-size: 4em;
  font-family: 'Merriweather Sans', sans-serif;
  color: #e2dee2;
}
p {
	font-size: 0.85em;
  font-family: 'Merriweather', serif;
  color: #e2dee2;
  margin-right: 40%;
  float: right;
}

